<a href="https://colab.research.google.com/github/maulikk3/Mini-project-3/blob/main/Subsetset_selection_probelm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Subset Selection Problem
1. Problem Statement:
Find all the subsets from a set of numbers whose sum is zero.

Constraint: Subset size must be 5
Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

In [2]:
import random as r
Set=[-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4]
res=set()
iterations=1000
for _ in range(iterations):
  set_size=r.randint(3,6)
  chr=r.sample(Set,set_size)
  if sum(chr)==0:
    res.add(tuple(sorted(chr)))

In [3]:
for r in res:
  print(r,'\n')

(-9, -8, 2, 6, 9)

(-9, -7, 2, 3, 11)

(-6, -2, 1, 7)

(-12, 3, 9)

(-12, -2, 3, 11)

(-12, -4, -2, 2, 7, 9)

(-12, -6, -4, 2, 9, 11)

(-5, -4, 2, 7)

(-5, -4, 3, 6)

(-12, 1, 11)

(-7, -2, 9)

(-12, 2, 3, 7)

(-8, -3, -2, 6, 7)

(-7, -6, -2, 2, 6, 7)

(-8, -2, 1, 3, 6)

(-9, -7, 7, 9)

(-4, -3, -2, 3, 6)

(-6, -3, 9)

(-8, -5, -3, -2, 7, 11)

(-12, -4, -2, 1, 6, 11)

(-6, -5, 11)

(-5, -4, 9)

(-8, -4, 3, 9)

(-9, -6, 2, 6, 7)

(-12, -7, -2, 3, 7, 11)

(-12, -7, 1, 7, 11)

(-7, -5, -3, -2, 6, 11)

(-9, -5, -2, 3, 6, 7)

(-3, 1, 2)


2. Problem Statement:
Find all the subsets from a set of numbers whose sum is zero.

Constraint: Subset size must be 3 to 6 only
Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

In [5]:
import random as r
Set=[-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4]
res=set()
iterations=1000
for _ in range(iterations):
  set_size=r.randint(3,6)
  chr=r.sample(Set,set_size)
  if sum(chr)==0:
    res.add(tuple(sorted(chr)))

In [6]:
for r in res:
  print(r,'\n')

(-12, -5, 6, 11)

(-7, -3, 1, 3, 6)

(-8, -5, 1, 2, 3, 7)

(-5, 2, 3)

(-6, -3, -2, 1, 3, 7)

(-9, -2, 2, 9)

(-7, -6, -3, 3, 6, 7)

(-5, -4, 3, 6)

(-12, 1, 11)

(-6, -4, 1, 9)

(-9, -4, 2, 11)

(-7, -5, 2, 3, 7)

(-8, -2, 1, 9)

(-5, -3, -2, 3, 7)

(-6, -3, 1, 2, 6)

(-12, -6, 1, 2, 6, 9)

(-8, -7, 1, 2, 3, 9)

(-8, -3, -2, 2, 11)

(-12, -5, -3, 3, 6, 11)

(-9, -4, -3, -2, 7, 11)

(-8, -6, -5, 1, 7, 11)

(-9, -7, 1, 2, 6, 7)

(-9, -3, -2, 3, 11)

(-6, -5, -2, 6, 7)

(-8, -7, -3, -2, 9, 11)

(-12, -8, 9, 11)

(-3, 1, 2)